*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background: #51565a;
  }

  .banner-cover-text{
    display: block;
    text-align: center;
    color: #111111;
    text-shadow: 0px 0px 7px white;
    font-size: 55px;
    position: absolute;
    top: 35%;
    width: 100%;
    z-index:0; 
  }

  nav{
    background: #1c1c1c;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index:1; 
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    color: #1c1c1c;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  #logo{
      color: azure;
  }

  .banner{
    width: 100%;
    display: block;
  }
  .banner > .banner-image{
    width: 100%;
    height: 430px;
  }

  .banner > .banner-image2{
    width: 100%;
    height: 698px;
    
  }

  h1.text1 p.text1{
    margin: 5px;
  }

  table{
    width: auto;
    padding: 5px;
    margin: 0px;
    border-spacing: 5px;
    
  }

  table, th, td{
    border: 1px;
  }

    td.company-statement{
    background: #111111;
    padding: 15px;
    border-radius: 2px;
    color: azure;
    font-size: 20px;
  }
  td.call-to-action{
    padding: 15px;
    border-radius: 2px;
    color: azure;
    font-size: 20px;
    background: #111111;
  }


  table.call-to-action-2{
    background: #111111;
    color: azure;
    padding: 5px;
    border-spacing: 5px;
  }

  table.call-to-action-2-table{
    margin: 10px;
    padding: 15px;
    border-radius: 2px;
    color: azure;
    font-size: 20px;
    background: #111111;
  }
  

  article{
    overflow-x: auto;
  }


  .services{
    background: #111111;
    margin: 15px;
    border-radius: 2px;
  }

  .service-table-text{
    color: azure;
    margin: ;
  }

  .service-table-text h1{
    font-style: bold;
  }

  .service-table{
    border
    border-radius: 1px 15px;
  }

  .contact-section{
    padding: 40px 0;
  }

  .contact-section h1{
    text-align: center;
    color: 1c1c1c;
  }

  .contact-form{
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }

  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #1c1c1c;
    padding: 20px 40px;
    outline: none;
    color: azure;
    transition: 0.5s;
  }

  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #1b9bff;
  }

  .contact-form-text:hover{
    box-shadow: 0 0 10px 4px #ffbf00;
  }

  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }

  .contact-form-btn{
    float: right;
    border: 0;
    background: #1b9bff;
    color: #1c1c1c;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .contact-form-btn:hover{
    background: #ffbf00;
  }


  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .banner > .banner-image{
      height: 690px;
    }

  }


  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #262D32;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #1b9bff;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .banner > .banner-image{
      height: 450px;
      display: block;
    }

    .text-box{
      width: 96%;
    }

    td{
      float: left;
    }
    .banner-image2{
      display: none;
    }
    .banner-cover-text{
      display: none;
    }

  }

  @media (max-width: 1024px){
    .banner-cover-text{
      display: none;
    }
  }


  